/ * css reset */

* {
   margin:0px;
   padding:0px;
   box-sizing:border-box;
 }

body {
   scroll-behavior:smooth;
 }


/* font-definiton */

@font-face {
  font-family: "primetime";
  src:url("fonts/PRIMETIME.ttf") format("ttf");
  
}

@font-face {
  font-family: "Titillium Web";
  src:url("fonts/Titillium Web Regular 400.ttf") format("ttf");
  
}
/* container */


/* header section */

#header {
   background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
   position:relative;
   overflow:hidden;
 }

#header .bgvideo {
   width:100%;
   height:auto;
   position:absolute;
   z-index:-1;
 }

#header .header-logo {
   background-color:rgba(255,255,255,0.2);
   
 }

#header .header-logo img {
   margin-left:12px;
   width:100px;
 }

#header .header-title {
   color:pink;
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   line-height:0px;
   margin:60px 0px;
   font-family:primetime;

 }

.header-title h1 {
   border:5px solid pink;
   padding:30px;
   margin-bottom:5px;
 }

.header-title .flip-text-one {
   display:inline-block;
   transform:scale(-1,1);
 }

.header-title .flip-text-two {
   display:inline-block;
   transform:scale(-1,1);
 }

.header-title p {
   margin-top:8px;
 }


/* section for albums area */




#section hr {
   margin:0px 0px;
   background-color:black;
   padding:1px;
   border:none;
 }


#section .album-bg-one {
   background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
   url(images&videos/square_one_bg.jpg) no-repeat fixed center;
   background-size:cover;
   width:100%;
   height:auto;
   position:relative;
 }

#section .album-section-title {
   background:url(images&videos/heading_bg.jpg) center ;
   background-size:cover;
   color:white;
   text-align:center;
   text-shadow:2px 3px 2px #484141; 
   margin:auto;  
   font-family:"Titillium Web";
   font-size:1.6rem;
   padding:6px;
   position:sticky;
   top:1px;
   z-index:1; 
   opacity:0.7;
   
 }

#section .album-cover-one, #section .album-cover-two, #section .album-cover-three,
#section .album-cover-four{
   display:flex;
   justify-content:center;
   align-items:center;
   padding:200px;
   background:linear-gradient(rgba(245,166,185,0.8),rgba(0,0,0,0.8)), 
   linear-gradient(rgba(179,152,177,0.5),rgba(100,33,60,0.3)),
   linear-gradient(rgba(219,15,105,0.2),rgba(81,67,84,0.1)),
   linear-gradient(rgba(205,77,142,0.2),rgba(78,11,48,0.1));
   width:5%;
   margin:auto;
 }

#section a {
  position:absolute;
  top:72%;
  text-decoration:none;
  color:white;
  font-family:"Titillium Web";
  background-color:rgba(255,192,203,0.5);
  padding:2px 5px;
  border-radius:15px;
 }

#section a:hover {
   background-color:rgba(220,84,108,0.8);
 }


 #section .album-bg-two {
   background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
   url(images&videos/square_two_bg.png) no-repeat fixed center;
   background-size:cover;
   width:100%;
   height:auto;
   position:relative;
 }

#section .album-bg-three{
   background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
   url(images&videos/blackpink_in_your_area_bg.jpg) no-repeat fixed center;
   background-size:cover;
   width:100%;
   height:auto;
   position:relative;
 }

#section .album-bg-four {
   background:radial-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
   url(images&videos/blackpink_the_album_bg.jpg) no-repeat fixed center;
   background-size:cover;
   width:100%;
   height:auto;
   position:relative;
 }

